/*Home Page*/
html,body
{
    margin: 0px;
    padding: 0px;	
	height: 100%;
}
#Top
{
	background-color:black ;
	height: 9%; 
	width: 100%; 
}
nav {
    background: black;
    margin: 15px 40px;
    display: flex;
    justify-content: center;
}
nav ul 
{
    display: flex;
    gap: 45px;
}
nav ul li a 
{
    text-decoration: none;
    color: white;
    font-size: 27px;
    padding: 5px 10px;
   
}

#Home_Space
{	
	background: #F5F5F5;
	height: 23%; 
	width: 100%;	
}
#Home_Content
{
	background: #F5F5F5;
	height: 30%; 
	width: 100%;
	display: flex;
	justify-content: center;
  	
}
#Home_Info
{
	background: white;
	height: 100%; 
	width: 65%;
	font-size: 20px;
	text-align: center;
	float:none;
}
#Bottom
{
	background-color:black ;
	height: 15%; 
	width: 100%; 
	display: flex;
	justify-content: center;
}
#Info_B
{
	background: black;
	height: 100%; 
	width: 100%;
	font-size: 20px;
	text-align: center;
	float:none;
}
#Info_B p
{
	text-decoration: none;
    color: white;
}
#Info_B p a
{
	text-decoration: none;
}	


/*Profile Page*/
#Profile_Space
{	
	background: #F5F5F5;
	height: 3%; 
	width: 100%;	
}
#Profile_U_Content
{
	background: #F5F5F5;
	height: 45%; 
	width: 100%;
	display: flex;
	justify-content: center; 	
}
#Profile_Info
{
	background: white;
	height: 100%; 
	width: 95%;
	font-size: 20px;
	text-align: center;
	float:none;
}
#Profile_VS
{
	
	height: 100%;
	width: 1%;
	float:left;
}
#Profile_B_Content
{
	background: #F5F5F5;
	height: 10%; 
	width: 100%;
	display: flex;
	justify-content: center; 	
}
#Profile_B_Space
{	
	background: #F5F5F5;
	height: 15%; 
	width: 100%;	
}

/*Career Page*/
#Career_O_Space
{	
	background: #F5F5F5;
	height: 3%; 
	width: 100%;	
}
#Career_Background
{
	background: #F5F5F5;
	height: 150%; 
	width: 100%;
	display: flex;
	justify-content: center; 	
}
#Career_Info
{
	background: white;
	height: 100%; 
	width: 75%;
	font-size: 20px;
	text-align: center;
	float:none;
}
#Career_VLS
{
	background:white;
	height: 100%;
	width: 5%;
	float:left;
}
#Career_VRS
{
	background:white;
	height: 100%;
	width: 5%;
	float:right;

}
#Career_2VLS
{
background:gray;
	height: 100%;
	width: 2%;
	float:left;
}
#Career_2VRS
{
background:#E2E2E2;
	height: 100%;
	width: 2%;
	float:right;

}
#Career_3VLS
{
background:#E2E2E2;
	height: 100%;
	width: 2%;
	float:left;
}
#Career_3VRS
{
background:gray;
	height: 100%;
	width: 2%;
	float:right;

}
#Career_Heading
{	
	background: gray;
	height: 12%; 
	width: 100%;	
}
#Career_Main
{	
	background: gray;
	height: 30%; 
	width: 100%;
	text-align: left;
}
#Career_Points
{	
	background: #E2E2E2;
	height: 13%; 
	width: 100%;
	font-size: 23px;
	text-align: left;
}
#Career_End
{	
	background: gray;
	height: 17%; 
	width: 100%;
	text-align: left;
}
#Career_Quote
{	
	background: #E2E2E2;
	height: 50%; 
	width: 100%;
	font-size: 30px;
	text-align: left;
}




#Project_Space
{	
	background: #F5F5F5;
	height: 3%; 
	width: 100%;	
}
#Project_Content
{
	background: #F5F5F5;
	height: 80%; 
	width: 100%;
	display: flex;
	justify-content: center; 	
}
#Project
{
	background: white;
	height: 100%; 
	width: 50%;
	display: flex;
	justify-content: center;
}
#Project_Info
{
	background: white;
	height: 80%; 
	width: 50%;
	font-size: 20px;
	text-align: center;
	float:none;
}
#Project_Heading
{
	background: white;
	height: 10%; 
	width: 100%;
	font-size: 20px;
	text-align: center;
	float:none;
}
#P_H
{
	background: #EEF3D7;
	height: 100%; 
	width: 100%;
	font-size: 20px;
	text-align: center;
	float:none;		
}





#Skills_Space
{	
	background: #F5F5F5;
	height: 10%; 
	width: 100%;	
}
#Skills_Content
{
	background: #F5F5F5;
	height: 60%; 
	width: 100%;
	display: flex;
	justify-content: center;
  	
}
#Skills_Info
{
	background: white;
	height: 100%; 
	width: 65%;
	font-size: 20px;
	float:center;
}
#Skills_Heading
{
	background: #F5F5F5;
	height: 10%; 
	width: 100%;
	font-size: 30px;
	float:none;	
}
#Skills_VLS
{
	background:white;
	height: 100%;
	width: 5%;
	float:left;
}
#Skills_VRS
{
	background:white;
	height: 100%;
	width: 5%;
	float:right;
}



#Contact_Space
{	
	background: #F5F5F5;
	height: 5%; 
	width: 100%;	
}
#Contact_Content
{
	background: #F5F5F5;
	height: 80%; 
	width: 100%;
	display: flex;
	justify-content: center;
  	
}
#Contact_Info
{
	background: white;
	height: 100%; 
	width: 45%;
	font-size: 20px;
	float:center;
}
#Contact_Heading
{
	background: #F5F5F5;
	height: 10%; 
	width: 100%;
	font-size: 30px;
	float:none;	
}
#Contact_VLS
{
	background:white;
	height: 100%;
	width: 5%;
	float:left;
}
#Contact_VRS
{
	background:white;
	height: 100%;
	width: 5%;
	float:right;
}
#Submission
{
	height: 20%;
	width: 10%;
	background:black;
	color: white;
}
#Contact_B
{
background: white;
	height: 30%; 
	width: 100%;
	font-size: 20px;
	text-align:center;
}